@use "../colors";
@use "../constants";
@use "../Mixins/mixin_fixed-element" as fixed;

.home {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "content";
}

.header {
  padding: constants.$standardPadding;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  grid-area: header;
}

.content {
  padding: constants.$standardPadding;
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 0;
}

.left--content,
.right--content,
.footer {
  display: none;
  padding: constants.$standardPadding;
}

@media (min-width: (constants.$mobileWidth + 1)) {
  .home {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header header header"
      "left-content content content content right-content"
      "footer footer footer footer footer";
  }

  .left--content,
  .right--content,
  .footer {
    display: block;
  }

  .header {
    grid-area: header;
  }

  .left--content {
    border-right: 1px solid rgba(black, 0.5);
    grid-area: left-content;
  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 0;
  }

  .right--content {
    background-color: bisque;
    grid-area: right-content;
  }

  .footer {
    background-color: rgb(115, 115, 43);
    grid-area: footer;
  }
}
