@use "../../constants.scss";

.navigation {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  button:has(.button-icon) {
    margin: constants.$standardPadding;
    width: calc(100% - constants.$standardPadding*2);
  }
}
